<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:config-description="https://openhab.org/schemas/config-description/v1.0.0"
	xsi:schemaLocation="https://openhab.org/schemas/config-description/v1.0.0 https://openhab.org/schemas/config-description-1.0.0.xsd">

	<config-description uri="thing-type:homeconnectdirect:appliance">
		<parameter name="haId" type="text" required="true">
			<label>Home Appliance ID</label>
			<description>Unique identifier representing a specific home appliance.</description>
		</parameter>
		<parameter name="address" type="text" required="true">
			<label>Address</label>
			<description>Address of home appliance (hostname or IP)</description>
		</parameter>
		<parameter name="connectionType" type="text" required="true">
			<label>Connection Type</label>
			<description>Type of encryption, whether to use AES with websocket or use TLS encrypted websocket.</description>
			<options>
				<option value="AES_HMAC_SHA256">AES</option>
				<option value="TLS">TLS</option>
			</options>
			<default>AES_HMAC_SHA256</default>
		</parameter>
		<parameter name="connectionRetryDelay" type="integer" min="1" max="60" required="false" unit="m">
			<context>time</context>
			<default>1</default>
			<label>Reconnect Delay</label>
			<description>Specifies the amount of time (in minutes) to wait before attempting to reconnect after a disconnection
				occurs, whether due to an offline device or a connection error.</description>
			<advanced>true</advanced>
		</parameter>
	</config-description>
</config-description:config-descriptions>
