<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{base :: head}"></head>

<body>
<nav th:replace="~{base :: navbar}"></nav>
<div class="d-flex">
    <div th:replace="~{base :: sidebar_large(${appliances}, ${selectedMenuEntry})}"></div>
    <div th:replace="~{base :: sidebar_small(${appliances}, ${selectedMenuEntry})}"></div>

    <div class="flex-grow-1 p-3">
        <div class="d-flex justify-content-between align-items-center mb-2 hcd-header">
            <h1>Appliance Profiles</h1>
            <div>
                <a class="btn btn-sm mt-1 btn-secondary" th:href="@{__${profileUploadPath}__}">
                    <span class="mdi mdi-file-upload"></span>
                    Upload Profile
                </a>
                <a class="btn btn-sm mt-1 btn-secondary" th:href="@{__${profileUpdatePath}__}">
                    <span class="mdi mdi-cloud-sync"></span>
                    Fetch Profiles
                </a>
            </div>
        </div>

        <div class="card mt-3 hcd-card" th:each="profile : ${profiles}">
            <div class="card-header d-flex align-items-center">
                <th:block th:insert="~{base :: icon(${profile.type})}"></th:block>
                <span th:text="${utils.getLabelByType(profile.type)}">Coffee Maker</span>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-3">Home Appliance ID</dt>
                    <dd class="col-sm-9" th:text="${profile.haId}">SIEMENS-TI9555X1DE-000000000000</dd>

                    <dt class="col-sm-3">Serial Number</dt>
                    <dd class="col-sm-9" th:text="${profile.serialNumber}">000000000000000000</dd>

                    <dt class="col-sm-3">Connection Type</dt>
                    <dd class="col-sm-9" th:text="${profile.connectionType}">AES</dd>

                    <dt class="col-sm-3">Type</dt>
                    <dd class="col-sm-9" th:text="${profile.type}">COFFEEMAKER</dd>

                    <dt class="col-sm-3">Created</dt>
                    <dd class="col-sm-9" th:text="${utils.formatDateTime(profile.created())}"></dd>
                </dl>

                <button class="btn btn-sm btn-warning" type="button" data-bs-toggle="collapse" th:data-bs-target="${'#programs' + profile.haId()}" aria-expanded="false" th:aria-controls="${'programs' + profile.haId()}">
                    Program list
                </button>
                <div class="collapse" th:id="${'programs' + profile.haId()}">
                    <pre class="pre-highlight" th:text="${programMap.get(profile.haId)}"></pre>
                </div>

                <div class="d-flex justify-content-end mt-3">
                    <a th:href="@{__${profileDownloadPath}__(haId=${profile.haId()})}" class="btn btn-primary btn-sm me-1"><span class="mdi mdi-download"></span> Download Profile</a>

                    <form method="POST" th:action="@{__${profileDeletePath}__}">
                        <input type="hidden" name="CSRF_TOKEN" th:value="${CSRF_TOKEN}">
                        <input type="hidden" name="haId" th:value="${profile.haId()}">
                        <button class="ms-3 btn btn-danger btn-sm" type="submit"><span class="mdi mdi-delete"></span> Delete Profile</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--/*/ <th:block th:insert="~{base :: js}"></th:block> /*/-->

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const preElements = document.querySelectorAll("pre.pre-highlight");

        preElements.forEach(pre => {
            const originalText = pre.textContent;
            try {
                const formattedText = syntaxHighlight(originalText);
                pre.innerHTML = formattedText;
            } catch (error) {
                console.error("Could not process JSON:", error);
            }
        });
    });
</script>
</body>
</html>
